<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.url">jdbc:sqlserver://MC0Y8V3C\169.254.154.125:1433;databaseName=PetClinic;integratedSecurity=true</property>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">validate</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>
		<property name="current_session_context_class">thread</property>
		
		<mapping class="com.petclinic.model.Pet"/>
		<mapping class="com.petclinic.model.Owner"/>
		<mapping class="com.petclinic.model.Visit"/>
		<mapping class="com.petclinic.model.Type"/>
		<mapping class="com.petclinic.model.Vet"/>

	</session-factory>
</hibernate-configuration>